/* * {
    outline: 2px solid red;
} */
/* body {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    line-height: 1.75;
    font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
}

.content-width {
    max-width: 75ch;
    width: calc(100% - 4rem);
    margin: 0 auto;

}

main {
    margin-bottom: 4rem;
}

header {
    margin-bottom: 4rem;
    padding: 2rem 0;
    background-color: hsl(280, 50%, 50%);
    border-bottom: 4px solid hsl(300, 50%, 50%);
    color: hsl(300, 50%, 90%);
}

header p {
    color: hsl(300, 50%, 85%);
}

h1, h2, h3 {
    margin: 0;
    line-height: 1.25;
}

h2, h3 {
    color: hsl(280, 50%, 50%);
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}
h2 {
    font-size: 2rem;
    font-weight: 500;
}
h3 {
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 400;
}
p {
    font-size: 1.125rem;
} */
/* Display: block, inline, inline-block
p {
    border: 3px dotted black;
    padding: 15px;
    background-color: rgba(167, 165, 165, 0.199);
  }
span {
        display: block; 
        width: 100px;
        height: 160px;
        padding: 18px;
        border: 2px dotted rgb(235, 135, 157);
        margin-right: 10px;
  }
   */