/* p, ul {
    border: 2px solid rebeccapurple;
}
span, li {
    border: 2px solid blue;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
}
.inline {
    display: inline;
} */
/* Standard box model 
.box {
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid red;
    text-align: center;
} */
/* The alternative CSS Model example 
.box {
    box-sizing: border-box;
} 
.box {
    width: 350px;
    inline-size: 350px;
    height: 150px;
    block-size: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
} */

/* PLaying with box model
.box {
    width: 300px;
    height: 125px;
    margin: 10px;
    border: 5px solid black;
    padding: 25px;
}
.alternate {
    box-sizing: border-box;
} */
/* Margin in CSS 
.container {
    border: 5px solid blue;
    padding: 75px;
    margin: 10px;
}
.box {
    border: 5px solid rebeccapurple;
    padding-top: 40px;
    padding-bottom: 60px;
    margin: -90px 20px 20px 20px;
    text-align: center;
    background-color: rgb(180, 177, 176);
} */

.container {
    border: 5px solid blue;
    text-align: center;
    width: 500px;
    height: 100px;
    padding-bottom: 25px;
    margin: 20px;
}
.one {
    border: 3px solid rgb(128, 5, 250);
    padding: 10px;
    background-color: gray;
}
.two {
    border: 3px solid rgb(125, 5, 245);
    padding: 10px;
    background-color: gray;
}