/* p, ul {
    border: 2px solid rebeccapurple;
}
span, li {
    border: 2px solid blue;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
}
.inline {
    display: inline;
} */
/* Standard box model 
.box {
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid red;
    text-align: center;
} */
/* The alternative CSS Model example 
.box {
    box-sizing: border-box;
} 
.box {
    width: 350px;
    inline-size: 350px;
    height: 150px;
    block-size: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
} */

/* PLaying with box model
.box {
    width: 300px;
    height: 125px;
    margin: 10px;
    border: 5px solid black;
    padding: 25px;
}
.alternate {
    box-sizing: border-box;
} */
/* Margin in CSS 
.container {
    border: 5px solid blue;
    padding: 75px;
    margin: 10px;
}
.box {
    border: 5px solid rebeccapurple;
    padding-top: 40px;
    padding-bottom: 60px;
    margin: -90px 20px 20px 20px;
    text-align: center;
    background-color: rgb(180, 177, 176);
} */
/* Margin collapsing 
.container {
    border: 5px solid blue;
    text-align: center;
    width: 500px;
    height: 100px;
    padding-bottom: 25px;
    margin: 20px;
}
.one {
    border: 3px solid rgb(128, 5, 250);
    padding: 10px;
    background-color: gray;
}
.two {
    border: 3px solid rgb(125, 5, 245);
    padding: 10px;
    background-color: gray;
} */
/* Shorthand & Longhand borders
.container {
    border-right: 1px solid black;
    margin-right: 300px;
    border-top: 5px dotted green;
    padding-top: 20px;
    border-bottom: 20px double blue;
    padding-bottom: 20px;
    padding-left: 20px;
}
.box {
    border-bottom: 1px solid hotpink;
    border-left: 1px solid black;
    border-top: 1px dotted black;
    border-right: 20px solid rgb(68, 67, 67);
    margin-right: 40px;
    padding: 24px;
    background-color: rgba(161, 160, 160, 0.692);
} */
/* Padding in CSS
.container {
    border: 5px solid blue;
    padding: 35px;
    margin: 30px;
}
.box {
    border: 5px solid rebeccapurple;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 40px;
    background-color: rgba(172, 170, 170, 0.692);
    font-size: 1.5em;
    text-align: center;
} */
/* Inline box, the box model
.container {
    border: 3px solid rebeccapurple;
}
span {
    border: 2px solid blue;
    padding: 20px;
    background-color: rgba(0, 255, 255, 0.699);
    margin: 20px;
} */
/* Using display: inline block
.container {
    border: 3px solid rebeccapurple;
}
span {
    border: 2px solid blue;
    padding: 20px;
    background-color: rgba(0, 255, 255, 0.699);
    margin: 20px;
    display: inline-block;
} */
/* * {
    box-sizing: border-box;
} */
/* 
.container {
    border: 1px solid  black;
    padding: 8px;
}
.link-list {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    list-style-type: none;
    display: flex;
}
.link-list a {
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 1em 2em;
    margin-left: 15px;
}
.link-list a:hover {
    background-color: rebeccapurple;
    color: black;
} */
/* Auto and centering
.container {
    border: 3px solid rebeccapurple;
    width: 100px;
    margin: 0 auto;
} */
/* Margin collapsing from css-trick
h2 {
    border: 5px solid rebeccapurple;
    width: 250px;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 5px;
}
p {
    border: 5px solid red;
    width: 250px;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 5px;
} */

body {
    background-color: rgba(160, 155, 155, 0.849);
    margin: 20px;
    margin-top: 0x;
    padding: 20px;
}
div {
    background-color: white;
    margin: 0;
}
h2 {
    background-color: gray;
    height: 50px;
    padding: 20px;
    font-size: 2em;
}
p {
    padding-bottom: 400px;
    padding-left: 20px;
    padding-right: 20px;
}