/* This is was used for learning line-heights
p {
    margin: 50px;
    background-image: repeating-linear-gradient(to top,
    lightskyblue 0 2px,
    transparent 10px 1lh
    );
} */

/* This section is for learning percentage */
/* .container {
    width: 400px;
    border: 5px solid rebeccapurple;
  }
  .px {
    width: 400px;
    border: 5px solid red;
  }
  .percentage {
    width: 80%;
    border: 5px solid black;
  } */
/* percent in nested list
li {
  font-size: 80%;
} */
/* Opacity
.opc {
  width: 200px;
  border: 5px solid rebeccapurple;
  margin: 30%;
  text-align: center;
  opacity: 0.4;
  font-size: 30px;
}
.container {
  background-image: url(calm.jpeg);
  border: 2px solid black;
  margin: 50px;
} */
/* 
.container {
  border: 1px solid black;
  width: 500px;
  font-size: 40px;
}
.bl {
  background-color: blue;
  margin: 10%;
  border-radius: 10px;
  text-align: center;
}
.pu {
  background-color: purple;
  margin: 10%;
  border-radius: 10px;
  text-align: center;
}
.gr {
  background-color: green;
  margin: 10%;
  border-radius: 10px;
  text-align: center;
} */

.container {
  border: 1px solid black;
  width: 500px;
  font-size: 40px;
  background-image: url(calm.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bl {
  background-color: rgba(2, 121, 139, 0.61);
  margin: 10%;
  border-radius: 10px;
  text-align: center;
}
.pu {
  background-color: rgba(62, 12, 170, 0.603);
  margin: 10%;
  border-radius: 10px;
  text-align: center;
} 
.gr {
  background-color: rgba(0, 128, 0, 0.753);
  margin: 10%;
  border-radius: 10px;
  text-align: center;
} 