/* This is was used for learning line-heights
p {
    margin: 50px;
    background-image: repeating-linear-gradient(to top,
    lightskyblue 0 2px,
    transparent 10px 1lh
    );
} */

/* This section is for learning percentage */
/* .container {
    width: 400px;
    border: 5px solid rebeccapurple;
  }
  .px {
    width: 400px;
    border: 5px solid red;
  }
  .percentage {
    width: 80%;
    border: 5px solid black;
  } */
/* percent in nested list
li {
  font-size: 80%;
} */
/* Opacity
.opc {
  width: 200px;
  border: 5px solid rebeccapurple;
  margin: 30%;
  text-align: center;
  opacity: 0.4;
  font-size: 30px;
}
.container {
  background-image: url(calm.jpeg);
  border: 2px solid black;
  margin: 50px;
} */
/* 
.container {
  border: 1px solid black;
  width: 500px;
  font-size: 40px;
}
.bl {
  background-color: blue;
  margin: 10%;
  border-radius: 10px;
  text-align: center;
}
.pu {
  background-color: purple;
  margin: 10%;
  border-radius: 10px;
  text-align: center;
}
.gr {
  background-color: green;
  margin: 10%;
  border-radius: 10px;
  text-align: center;
} */

/* Color key words
.container {
  border: 1px solid black;
  width: 500px;
  font-size: 40px;
  background-image: url(calm.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bl {
  background-color: rgba(2, 121, 139, 0.61);
  margin: 10%;
  border-radius: 10px;
  text-align: center;
}
.pu {
  background-color: rgba(62, 12, 170, 0.603);
  margin: 10%;
  border-radius: 10px;
  text-align: center;
} 
.gr {
  background-color: rgba(0, 128, 0, 0.753);
  margin: 10%;
  border-radius: 10px;
  text-align: center;
}  */
/* Hue practice  section 
.container {
  border: 1px solid black;
  font-size: 30px;
  margin: 10%;
  padding: 8%;
  text-align: center;
  width: 500px;
}
.one {
  background-color: hsl(188 97% 28%);
  border-radius: 15px;
  font-size: 30px;
  padding: 1%;
  margin: 5% 0;
}

.two {
  background-color: hsl(321 47% 57% /0.6);
  margin: 5% 0;
  border-radius: 15px;
  font-size: 30px;
  padding: 1%;
}

.three {
  background-color: hsl(174 77% 31%);
  border-radius: 15px;
  font-size: 30px;
  padding: 1%;
  margin: 5% 0;
} */
/* images in css
body {
  border: 2px solid black;
}
.calm {
  background-image: url(calm.jpeg);
  padding: 10%;
  background-position: center;
  height: 10lvh;
  margin: 10%;

}
.gradient {
  background-image: linear-gradient(90deg, rgb(119 0 255 / 39%), rgb(0 212 255 / 100%));
  padding: 20%;
  
  background-repeat: no-repeat;
  background-position: center;
  margin: 10%;
  width: 20%;
  border-radius: 10%;
  height: 2lvh;
} */
/* positioning in css 
.box {
  height: 300px;
  width: 400px;
  background-image: url(calm.jpeg);
  background-repeat: no-repeat;
  background-position: right center;
} */
/* Strings and identifiers in css 
.box {
  width: 300px;
  padding: 4em;
  border-radius: .5em;
  border: 5px solid rebeccapurple;
  background-color: lightblue;
  opacity:  .8;
}

.text {
  font-family: Arial, sans-serif;
  text-align: center;
  opacity: .8;
  color: color-mix(in hsl increasing hue, royalblue  50%, blue 30%);
}
.box::after {
content: "Hey! I'm a box written in css!";
  display: block;
  font-size: 20px;
  color: white;
  letter-spacing: .5em;
  text-align: center;
} */
/*  Math functions 
h1 {
  padding: 0.5px;
  text-align: center;
  width: 400px;
}
.box {
  background-color: skyblue;
  padding: 1px;
  border-radius: 30px;
  border: 5px solid rebeccapurple;
  width: calc(65% - 10px);
  color: rebeccapurple;
} */
/* Specificity among class selectors
.subsection {
  color: blue;
}
.main .the {
  color: red;
} */
/* ID selector takes precedence over class selector
#subsection {
  color: blue;
}
.main .the {
  color: red;
} */
/* id+class takes precedence over id for specificity
#subsection {
  color: red;
  background-color: yellow;
}
.main #subsection {
  color: blue;
} */
/* Same specificity with different classes
.small.big-class {
  font-size: 12px;
}
.small .big-class{
  font-size: 24px;
} */
/* Target takes precedence over inheritance
#parent {
  color: red;
}
.child {
  color: blue;
} */
/* 
.first {
  color: yellow;
}
.second {
  color: red;
} */
/* Nav bar
nav > ul {
  display: flex;
  border: 2px solid;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
}
.one, .two, .four {
  border: 3px solid skyblue;
  padding: 10px;
  background-color: rgba(170, 201, 211, 0.699);
  border-radius: 10px;
  flex-grow: 1;
  text-align: center;
  font-size: 20px;
}
.three {
  border: 3px solid skyblue;
  padding: 10px;
  background-color: rgba(170, 201, 211, 0.699);
  border-radius: 10px;
  flex-grow: 2;
  font-size: 20px;
  text-align: center;
} */

.container {
  border: 2px solid;
  display: flex;
  padding: 20px;
  gap: 20px;
}
.card-nocontent, .card-content {
  border: 2px solid skyblue;
  flex: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.card-content p, .card-nocontent p {
  padding: 10px;
}
.card-nocontent-p {
  flex: 1;
}
footer {
  background-color: skyblue;
}